<div class="col-12">
    <div class="pagination d-flex justify-content-center mt-5">
        <!-- Link para a página anterior -->
        {% if produtos.has_previous %}
            <a href="?page={{ produtos.previous_page_number }}{% if categoria_atual %}&categoria={{ categoria_atual }}{% endif %}" class="rounded">&laquo;</a>
        {% else %}
            <span class="rounded disabled">&laquo;</span>
        {% endif %}

        <!-- Links das páginas -->
        {% for pagina in produtos.paginator.page_range %}
            {% if pagina == produtos.number %}
                <a href="?page={{ pagina }}{% if categoria_atual %}&categoria={{ categoria_atual }}{% endif %}" class="active rounded">{{ pagina }}</a>
            {% else %}
                <a href="?page={{ pagina }}{% if categoria_atual %}&categoria={{ categoria_atual }}{% endif %}" class="rounded">{{ pagina }}</a>
            {% endif %}
        {% endfor %}

        <!-- Link para a próxima página -->
        {% if produtos.has_next %}
            <a href="?page={{ produtos.next_page_number }}{% if categoria_atual %}&categoria={{ categoria_atual }}{% endif %}" class="rounded">&raquo;</a>
        {% else %}
            <span class="rounded disabled">&raquo;</span>
        {% endif %}
    </div>
</div>
