{%extends 'base.html'%}
{% block 'content'%}
        {%include  'parciais/nav_bar.html' with quantidade=quantidade%}

        {%include  'parciais/pesquisa.html'%}

        <!-- Hero Start -->
        {%include  'parciais/hero_start.html'%}

      
              
        <!-- Modal -->
        {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Parceiros Indicados</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid vesitable py-4">
                        <div class="row" id="test">
                            {% include 'parciais/produtos_categoria_unica.html' %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
             
        <!-- Hero End -->

        

        <!-- Featurs Section Start -->
        {% comment %} {%include  'parciais/vantagens.html'%} {% endcomment %}
        <!-- Featurs Section End -->


        <!-- Fruits Shop Start-->
        {% comment %} {%include  'parciais/principais_produtos.html'%} {% endcomment %}
         
        <!-- Fruits Shop End-->


        <!-- Featurs Start -->
        <!-- {%include  'parciais/produtos_desconto.html'%} -->
        <!-- Featurs End -->


        <!-- Vesitable Shop Start-->
        
    
        <!-- Vesitable Shop End -->


        <!-- Banner Section Start-->
        <!-- {%include  'parciais/banner_meio.html'%} -->
        <!-- Banner Section End -->


        <!-- Bestsaler Product Start -->
        {% comment %} {%include  'parciais/mais_vendidos.html'%} {% endcomment %}
        <!-- Bestsaler Product End -->


        <!-- Fact Start -->
        {% comment %} {%include  'parciais/vantagens2.html'%} {% endcomment %}
        <!-- Fact Start -->


        <!-- Tastimonial Start -->
        {% comment %} {%include  'parciais/testemunhos.html'%} {% endcomment %}
        <!-- Tastimonial End -->


        <!-- Footer Start -->
        {% comment %} {%include  'parciais/footer.html'%} {% endcomment %}
        <!-- Footer End -->

        <!-- Copyright Start -->
        {% comment %} {%include  'parciais/copyright.html'%} {% endcomment %}
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
{%endblock%}