{%extends 'base.html'%}
{% block 'content'%}
        {%include  'parciais/nav_bar.html' with quantidade=quantidade%}

        {%include  'parciais/pesquisa.html'%}

        <!-- Hero Start -->
        {%include  'parciais/hero_start.html'%}

        <!-- Hero End -->


        <!-- Featurs Section Start -->
        {%include  'parciais/vantagens.html'%}
        <!-- Featurs Section End -->


        <!-- Fruits Shop Start-->
        {%include  'parciais/principais_produtos.html'%}
        <!-- Fruits Shop End-->


        <!-- Featurs Start -->
        {%include  'parciais/produtos_desconto.html'%}
        <!-- Featurs End -->


        <!-- Vesitable Shop Start-->
        {%include  'parciais/produtos_categoria_unica.html'%}
        <!-- Vesitable Shop End -->


        <!-- Banner Section Start-->
        {%include  'parciais/banner_meio.html'%}
        <!-- Banner Section End -->


        <!-- Bestsaler Product Start -->
        {%include  'parciais/mais_vendidos.html'%}
        <!-- Bestsaler Product End -->


        <!-- Fact Start -->
        {%include  'parciais/vantagens2.html'%}
        <!-- Fact Start -->


        <!-- Tastimonial Start -->
        {%include  'parciais/testemunhos.html'%}
        <!-- Tastimonial End -->


        <!-- Footer Start -->
        {%include  'parciais/footer.html'%}
        <!-- Footer End -->

        <!-- Copyright Start -->
        {%include  'parciais/copyright.html'%}
        <!-- Copyright End -->



        <!-- Back to Top -->
        <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   

        
{%endblock%}