{%extends 'base.html'%}
{% block 'content'%}
        {%include  'parciais/authentication/siginup/nav_bar.html'%}

        {%include  'parciais/authentication/siginup/pesquisa.html'%}

        <!-- Hero Start -->
        {%include  'parciais/authentication/siginup/hero_start.html'%}
        <!-- Footer Start -->
        {%include  'parciais/footer.html'%}
        <!-- Footer End -->

        <!-- Copyright Start -->
        {%include  'parciais/copyright.html'%}
        <!-- Copyright End -->



    <!-- Back to Top -->
    <a href="#" class="btn btn-primary border-3 border-primary rounded-circle back-to-top"><i class="fa fa-arrow-up"></i></a>   


{%endblock%}